layout {
    pane split_direction="vertical" {
        pane command="yazi" size="30"
        pane split_direction="horizontal" {
            pane size="67%"
            pane size="33%"
        }
    }
}
