// See https://zellij.dev/documentation/configuration

keybinds clear-defaults=true {
    normal {
        bind "Alt left" { MoveFocus "left"; }
        bind "Alt right" { MoveFocus "right"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt n" { NewPane; }
        bind "Ctrl q" { Detach; }
    }
}
 
// Choose the theme that is specified in the themes section.
// Default: default
// 
theme "iceberg-dark"
 
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
// 
default_shell "nu"
 
// Whether to show tips on startup
// Default: true
// 
show_startup_tips false

